In [7]:
import yahooquery
import pandas as pd

In [8]:
# print quarterly balance sheet of Apple
ticker = yahooquery.Ticker('AAPL')
ticker.balance_sheet(frequency='quarterly')

,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AvailableForSaleSecurities,CapitalStock,CashAndCashEquivalents,CashCashEquivalentsAndShortTermInvestments,...,TangibleBookValue,TotalAssets,TotalCapitalization,TotalDebt,TotalEquityGrossMinorityInterest,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,TradeandOtherPayablesNonCurrent,WorkingCapital
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,2021-09-30,3M,USD,5.476300e+10,2.627800e+10,-7.028300e+10,1.278770e+11,5.736500e+10,3.494000e+10,6.263900e+10,...,6.309000e+10,3.510020e+11,1.721960e+11,1.247190e+11,6.309000e+10,2.879120e+11,2.161660e+11,1.624310e+11,2.468900e+10,9.355000e+09
AAPL,2021-12-31,3M,USD,7.436200e+10,3.021300e+10,-6.845400e+10,1.386830e+11,5.842400e+10,3.711900e+10,6.391300e+10,...,7.193200e+10,3.811910e+11,1.785610e+11,1.227980e+11,7.193200e+10,3.092590e+11,2.280370e+11,1.616850e+11,2.468900e+10,5.580000e+09
AAPL,2022-03-31,3M,USD,5.268200e+10,2.081500e+10,-7.002000e+10,1.412190e+11,6.118100e+10,2.809800e+10,5.151100e+10,...,6.739900e+10,3.506620e+11,1.707220e+11,1.199810e+11,6.739900e+10,2.832630e+11,2.324820e+11,1.557550e+11,2.071100e+10,-9.328000e+09
AAPL,2022-06-30,3M,USD,4.834300e+10,2.180300e+10,-7.151600e+10,1.310770e+11,6.211500e+10,2.750200e+10,4.823100e+10,...,5.810700e+10,3.363090e+11,1.528070e+11,1.196910e+11,5.810700e+10,2.782020e+11,2.240170e+11,1.483290e+11,2.069900e+10,-1.758100e+10
AAPL,2022-09-30,3M,USD,6.411500e+10,2.818400e+10,-7.234000e+10,1.208050e+11,6.484900e+10,2.364600e+10,4.830400e+10,...,5.067200e+10,3.527550e+11,1.496310e+11,1.200690e+11,5.067200e+10,3.020830e+11,2.173500e+11,1.481010e+11,1.665700e+10,-1.857700e+10

In [ ]:
ticker.cash_flow()

In [15]:
# read an excel file into a pandas dataframe
df = pd.read_excel('data/Yahoo Ticker Symbols - September 2017.xlsx')
df

,Ticker,Name,Exchange,Category Name,Country
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA
...,...,...,...,...,...
106323,G5N.SG,"Groupon Inc. Reg. Shares DL-,00",STU,NaN,Germany
106324,N1H.AX,N1 Holdings Limited,ASX,Mortgage Investment,Australia
106325,1K2.BE,"K2M GROUP HLDGS DL-,001",BER,NaN,Germany
106326,2RM.BE,"RE/MAX HLDGS A DL -,0001",BER,NaN,Germany
106327,2RM.F,"RE/MAX Holdings, Inc.",FRA,NaN,France

In [17]:
# drop rows that the Country is not USA
df = df[df['Country'] == 'USA'].reset_index(drop=True)
df

,Ticker,Name,Exchange,Category Name,Country
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA
...,...,...,...,...,...
22164,USWL,"US-Worldlink.Com, Inc.",PNK,NaN,USA
22165,GROG,"GroGenesis, Inc.",PNK,Agricultural Chemicals,USA
22166,INCT,"InCapta, Inc.",PNK,NaN,USA
22167,INDVF,IndigoVision Group plc,PNK,NaN,USA
22168,INTQF,InternetQ PLC,PNK,NaN,USA

In [21]:


""" result = pd.DataFrame()

for company in df["Ticker"]:
    try:
        ticker = yahooquery.Ticker(company)
        df = ticker.balance_sheet(frequency='quarterly')
        result["company"] = company
        
    except:
        pass """

AttributeError: 'Ticker' object has no attribute 'revenue_estimate'