In [2]:
import yahooquery
import pandas as pd

In [3]:
# print quarterly balance sheet of Apple
ticker = yahooquery.Ticker('AAPL')
balance_sheet = ticker.balance_sheet(frequency='quarterly')
balance_sheet.columns

Index(['asOfDate', 'periodType', 'currencyCode', 'AccountsPayable',
       'AccountsReceivable', 'AccumulatedDepreciation',
       'AvailableForSaleSecurities', 'CapitalStock', 'CashAndCashEquivalents',
       'CashCashEquivalentsAndShortTermInvestments', 'CashEquivalents',
       'CashFinancial', 'CommercialPaper', 'CommonStock', 'CommonStockEquity',
       'CurrentAssets', 'CurrentDebt', 'CurrentDebtAndCapitalLeaseObligation',
       'CurrentDeferredLiabilities', 'CurrentDeferredRevenue',
       'CurrentLiabilities', 'GainsLossesNotAffectingRetainedEarnings',
       'GrossPPE', 'Inventory', 'InvestedCapital',
       'InvestmentinFinancialAssets', 'InvestmentsAndAdvances',
       'LandAndImprovements', 'Leases', 'LongTermDebt',
       'LongTermDebtAndCapitalLeaseObligation', 'MachineryFurnitureEquipment',
       'NetDebt', 'NetPPE', 'NetTangibleAssets', 'OrdinarySharesNumber',
       'OtherCurrentAssets', 'OtherCurrentBorrowings',
       'OtherCurrentLiabilities', 'OtherInvestments', 'OtherNonCurrentAssets',
       'OtherNonCurrentLiabilities', 'OtherReceivables',
       'OtherShortTermInvestments', 'Payables', 'PayablesAndAccruedExpenses',
       'Properties', 'Receivables', 'RetainedEarnings', 'ShareIssued',
       'StockholdersEquity', 'TangibleBookValue', 'TotalAssets',
       'TotalCapitalization', 'TotalDebt', 'TotalEquityGrossMinorityInterest',
       'TotalLiabilitiesNetMinorityInterest', 'TotalNonCurrentAssets',
       'TotalNonCurrentLiabilitiesNetMinorityInterest',
       'TradeandOtherPayablesNonCurrent', 'WorkingCapital'],
      dtype='object')

In [4]:
cash_flow = ticker.cash_flow()
cash_flow.columns

Index(['asOfDate', 'periodType', 'currencyCode', 'BeginningCashPosition',
       'CapitalExpenditure', 'CashDividendsPaid',
       'CashFlowFromContinuingFinancingActivities',
       'CashFlowFromContinuingInvestingActivities',
       'CashFlowFromContinuingOperatingActivities', 'ChangeInAccountPayable',
       'ChangeInCashSupplementalAsReported', 'ChangeInInventory',
       'ChangeInOtherCurrentAssets', 'ChangeInOtherCurrentLiabilities',
       'ChangeInOtherWorkingCapital', 'ChangeInPayable',
       'ChangeInPayablesAndAccruedExpense', 'ChangeInReceivables',
       'ChangeInWorkingCapital', 'ChangesInAccountReceivables',
       'ChangesInCash', 'CommonStockDividendPaid', 'CommonStockIssuance',
       'CommonStockPayments', 'DeferredIncomeTax', 'DeferredTax',
       'DepreciationAmortizationDepletion', 'DepreciationAndAmortization',
       'EndCashPosition', 'FinancingCashFlow', 'FreeCashFlow',
       'IncomeTaxPaidSupplementalData', 'InterestPaidSupplementalData',
       'InvestingCashFlow', 'IssuanceOfCapitalStock', 'IssuanceOfDebt',
       'LongTermDebtIssuance', 'LongTermDebtPayments',
       'NetBusinessPurchaseAndSale', 'NetCommonStockIssuance', 'NetIncome',
       'NetIncomeFromContinuingOperations', 'NetInvestmentPurchaseAndSale',
       'NetIssuancePaymentsOfDebt', 'NetLongTermDebtIssuance',
       'NetOtherFinancingCharges', 'NetOtherInvestingChanges',
       'NetPPEPurchaseAndSale', 'NetShortTermDebtIssuance',
       'OperatingCashFlow', 'OtherNonCashItems', 'PurchaseOfBusiness',
       'PurchaseOfInvestment', 'PurchaseOfPPE', 'RepaymentOfDebt',
       'RepurchaseOfCapitalStock', 'SaleOfInvestment', 'ShortTermDebtIssuance',
       'ShortTermDebtPayments', 'StockBasedCompensation'],
      dtype='object')

In [5]:
cash_flow[["asOfDate", "periodType","currencyCode", "BeginningCashPosition", "FreeCashFlow", "FreeCashFlow", "NetIncome"]]

,asOfDate,periodType,currencyCode,BeginningCashPosition,FreeCashFlow,FreeCashFlow,NetIncome
symbol,,,,,,,
AAPL,2019-09-30,12M,USD,2.591300e+10,5.889600e+10,5.889600e+10,5.525600e+10
AAPL,2020-09-30,12M,USD,5.022400e+10,7.336500e+10,7.336500e+10,5.741100e+10
AAPL,2021-09-30,12M,USD,3.978900e+10,9.295300e+10,9.295300e+10,9.468000e+10
AAPL,2022-09-30,12M,USD,3.592900e+10,1.114430e+11,1.114430e+11,9.980300e+10
AAPL,2022-09-30,TTM,USD,3.592900e+10,1.114430e+11,1.114430e+11,9.980300e+10

In [6]:
income_statement = ticker.income_statement()
income_statement.columns

Index(['asOfDate', 'periodType', 'currencyCode', 'BasicAverageShares',
       'BasicEPS', 'CostOfRevenue', 'DilutedAverageShares', 'DilutedEPS',
       'DilutedNIAvailtoComStockholders', 'EBIT', 'EBITDA', 'GrossProfit',
       'InterestExpense', 'InterestExpenseNonOperating', 'InterestIncome',
       'InterestIncomeNonOperating', 'NetIncome',
       'NetIncomeCommonStockholders', 'NetIncomeContinuousOperations',
       'NetIncomeFromContinuingAndDiscontinuedOperation',
       'NetIncomeFromContinuingOperationNetMinorityInterest',
       'NetIncomeIncludingNoncontrollingInterests', 'NetInterestIncome',
       'NetNonOperatingInterestIncomeExpense', 'NormalizedEBITDA',
       'NormalizedIncome', 'OperatingExpense', 'OperatingIncome',
       'OperatingRevenue', 'OtherIncomeExpense',
       'OtherNonOperatingIncomeExpenses', 'PretaxIncome',
       'ReconciledCostOfRevenue', 'ReconciledDepreciation',
       'ResearchAndDevelopment', 'SellingGeneralAndAdministration',
       'TaxEffectOfUnusualItems', 'TaxProvision', 'TaxRateForCalcs',
       'TotalExpenses', 'TotalOperatingIncomeAsReported', 'TotalRevenue'],
      dtype='object')

In [9]:
# read an excel file into a pandas dataframe
df = pd.read_excel('src/data/Yahoo Ticker Symbols - September 2017.xlsx')
df

,Ticker,Name,Exchange,Category Name,Country
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA
...,...,...,...,...,...
106323,G5N.SG,"Groupon Inc. Reg. Shares DL-,00",STU,NaN,Germany
106324,N1H.AX,N1 Holdings Limited,ASX,Mortgage Investment,Australia
106325,1K2.BE,"K2M GROUP HLDGS DL-,001",BER,NaN,Germany
106326,2RM.BE,"RE/MAX HLDGS A DL -,0001",BER,NaN,Germany
106327,2RM.F,"RE/MAX Holdings, Inc.",FRA,NaN,France

In [10]:
# drop rows that the Country is not USA
df = df[df['Country'] == 'USA' or 'Germany'].reset_index(drop=True)
df

,Ticker,Name,Exchange,Category Name,Country
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA
...,...,...,...,...,...
22164,USWL,"US-Worldlink.Com, Inc.",PNK,NaN,USA
22165,GROG,"GroGenesis, Inc.",PNK,Agricultural Chemicals,USA
22166,INCT,"InCapta, Inc.",PNK,NaN,USA
22167,INDVF,IndigoVision Group plc,PNK,NaN,USA
22168,INTQF,InternetQ PLC,PNK,NaN,USA

In [ ]:


""" result = pd.DataFrame()

for company in df["Ticker"]:
    try:
        ticker = yahooquery.Ticker(company)
        df = ticker.balance_sheet(frequency='quarterly')
        result["company"] = company
        
    except:
        pass """

' result = pd.DataFrame()\n\nfor company in df["Ticker"]:\n    try:\n        ticker = yahooquery.Ticker(company)\n        df = ticker.balance_sheet(frequency=\'quarterly\')\n        result["company"] = company\n        \n    except:\n        pass '