In [1]:
import yahooquery
import pandas as pd

In [2]:
# print quarterly balance sheet of Apple
ticker = yahooquery.Ticker('AAPL')
balance_sheet = ticker.balance_sheet(frequency='quarterly')
balance_sheet.columns

Index(['asOfDate', 'periodType', 'currencyCode', 'AccountsPayable',
       'AccountsReceivable', 'AccumulatedDepreciation',
       'AvailableForSaleSecurities', 'CapitalStock', 'CashAndCashEquivalents',
       'CashCashEquivalentsAndShortTermInvestments', 'CashEquivalents',
       'CashFinancial', 'CommercialPaper', 'CommonStock', 'CommonStockEquity',
       'CurrentAssets', 'CurrentDebt', 'CurrentDebtAndCapitalLeaseObligation',
       'CurrentDeferredLiabilities', 'CurrentDeferredRevenue',
       'CurrentLiabilities', 'FinishedGoods',
       'GainsLossesNotAffectingRetainedEarnings', 'GrossPPE', 'Inventory',
       'InvestedCapital', 'InvestmentinFinancialAssets',
       'InvestmentsAndAdvances', 'LandAndImprovements', 'Leases',
       'LongTermDebt', 'LongTermDebtAndCapitalLeaseObligation',
       'MachineryFurnitureEquipment', 'NetDebt', 'NetPPE', 'NetTangibleAssets',
       'OrdinarySharesNumber', 'OtherCurrentAssets', 'OtherCurrentBorrowings',
       'OtherCurrentLiabilities', 'OtherEquityAdjustments', 'OtherInvestments',
       'OtherNonCurrentAssets', 'OtherNonCurrentLiabilities',
       'OtherReceivables', 'OtherShortTermInvestments', 'Payables',
       'PayablesAndAccruedExpenses', 'Properties', 'RawMaterials',
       'Receivables', 'RetainedEarnings', 'ShareIssued', 'StockholdersEquity',
       'TangibleBookValue', 'TotalAssets', 'TotalCapitalization', 'TotalDebt',
       'TotalEquityGrossMinorityInterest',
       'TotalLiabilitiesNetMinorityInterest', 'TotalNonCurrentAssets',
       'TotalNonCurrentLiabilitiesNetMinorityInterest',
       'TradeandOtherPayablesNonCurrent', 'WorkingCapital'],
      dtype='object')

In [3]:
cash_flow = ticker.cash_flow()
cash_flow.columns

Index(['asOfDate', 'periodType', 'currencyCode', 'BeginningCashPosition',
       'CapitalExpenditure', 'CashDividendsPaid',
       'CashFlowFromContinuingFinancingActivities',
       'CashFlowFromContinuingInvestingActivities',
       'CashFlowFromContinuingOperatingActivities', 'ChangeInAccountPayable',
       'ChangeInCashSupplementalAsReported', 'ChangeInInventory',
       'ChangeInOtherCurrentAssets', 'ChangeInOtherCurrentLiabilities',
       'ChangeInOtherWorkingCapital', 'ChangeInPayable',
       'ChangeInPayablesAndAccruedExpense', 'ChangeInReceivables',
       'ChangeInWorkingCapital', 'ChangesInAccountReceivables',
       'ChangesInCash', 'CommonStockDividendPaid', 'CommonStockIssuance',
       'CommonStockPayments', 'DeferredIncomeTax', 'DeferredTax',
       'DepreciationAmortizationDepletion', 'DepreciationAndAmortization',
       'EndCashPosition', 'FinancingCashFlow', 'FreeCashFlow',
       'IncomeTaxPaidSupplementalData', 'InterestPaidSupplementalData',
       'InvestingCashFlow', 'IssuanceOfCapitalStock', 'IssuanceOfDebt',
       'LongTermDebtIssuance', 'LongTermDebtPayments',
       'NetBusinessPurchaseAndSale', 'NetCommonStockIssuance', 'NetIncome',
       'NetIncomeFromContinuingOperations', 'NetInvestmentPurchaseAndSale',
       'NetIssuancePaymentsOfDebt', 'NetLongTermDebtIssuance',
       'NetOtherFinancingCharges', 'NetOtherInvestingChanges',
       'NetPPEPurchaseAndSale', 'NetShortTermDebtIssuance',
       'OperatingCashFlow', 'OtherNonCashItems', 'PurchaseOfBusiness',
       'PurchaseOfInvestment', 'PurchaseOfPPE', 'RepaymentOfDebt',
       'RepurchaseOfCapitalStock', 'SaleOfInvestment', 'ShortTermDebtIssuance',
       'ShortTermDebtPayments', 'StockBasedCompensation'],
      dtype='object')

In [4]:
cash_flow[["asOfDate", "periodType","currencyCode", "BeginningCashPosition", "FreeCashFlow", "FreeCashFlow", "NetIncome"]]

,asOfDate,periodType,currencyCode,BeginningCashPosition,FreeCashFlow,FreeCashFlow,NetIncome
symbol,,,,,,,
AAPL,2019-09-30,12M,USD,2.591300e+10,5.889600e+10,5.889600e+10,5.525600e+10
AAPL,2020-09-30,12M,USD,5.022400e+10,7.336500e+10,7.336500e+10,5.741100e+10
AAPL,2021-09-30,12M,USD,3.978900e+10,9.295300e+10,9.295300e+10,9.468000e+10
AAPL,2022-09-30,12M,USD,3.592900e+10,1.114430e+11,1.114430e+11,9.980300e+10
AAPL,2022-12-31,TTM,USD,3.863000e+10,9.749800e+10,9.749800e+10,9.517100e+10
AAPL,2023-03-31,TTM,USD,2.918000e+10,9.749000e+10,9.749000e+10,9.432100e+10

In [5]:
income_statement = ticker.income_statement()
income_statement.columns

Index(['asOfDate', 'periodType', 'currencyCode', 'BasicAverageShares',
       'BasicEPS', 'CostOfRevenue', 'DilutedAverageShares', 'DilutedEPS',
       'DilutedNIAvailtoComStockholders', 'EBIT', 'EBITDA', 'GrossProfit',
       'InterestExpense', 'InterestExpenseNonOperating', 'InterestIncome',
       'InterestIncomeNonOperating', 'NetIncome',
       'NetIncomeCommonStockholders', 'NetIncomeContinuousOperations',
       'NetIncomeFromContinuingAndDiscontinuedOperation',
       'NetIncomeFromContinuingOperationNetMinorityInterest',
       'NetIncomeIncludingNoncontrollingInterests', 'NetInterestIncome',
       'NetNonOperatingInterestIncomeExpense', 'NormalizedEBITDA',
       'NormalizedIncome', 'OperatingExpense', 'OperatingIncome',
       'OperatingRevenue', 'OtherIncomeExpense',
       'OtherNonOperatingIncomeExpenses', 'PretaxIncome',
       'ReconciledCostOfRevenue', 'ReconciledDepreciation',
       'ResearchAndDevelopment', 'SellingGeneralAndAdministration',
       'TaxEffectOfUnusualItems', 'TaxProvision', 'TaxRateForCalcs',
       'TotalExpenses', 'TotalOperatingIncomeAsReported', 'TotalRevenue'],
      dtype='object')

In [6]:
balance_sheet = ticker.balance_sheet(frequency='quarterly')

In [7]:
import yfinance as yf

def get_market_cap(ticker_symbol):
    ticker = yf.Ticker(ticker_symbol)
    return ticker.info['marketCap']

# Use the function
market_cap = get_market_cap('AAPL')
print(f'The market cap of AAPL is: {market_cap}')

The market cap of AAPL is: 2999305895936

In [8]:
import yfinance as yf

ticker_symbol = 'AAPL'
ticker = yf.Ticker(ticker_symbol)

# get income statement 
income_statement = ticker.financials
income_statement.index

Index(['Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
       'Normalized EBITDA',
       'Net Income From Continuing Operation Net Minority Interest',
       'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBIT',
       'Net Interest Income', 'Interest Expense', 'Interest Income',
       'Normalized Income',
       'Net Income From Continuing And Discontinued Operation',
       'Total Expenses', 'Total Operating Income As Reported',
       'Diluted Average Shares', 'Basic Average Shares', 'Diluted EPS',
       'Basic EPS', 'Diluted NI Availto Com Stockholders',
       'Net Income Common Stockholders', 'Net Income',
       'Net Income Including Noncontrolling Interests',
       'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
       'Other Income Expense', 'Other Non Operating Income Expenses',
       'Net Non Operating Interest Income Expense',
       'Interest Expense Non Operating', 'Interest Income Non Operating',
       'Operating Income', 'Operating Expense', 'Research And Development',
       'Selling General And Administration', 'Gross Profit', 'Cost Of Revenue',
       'Total Revenue', 'Operating Revenue'],
      dtype='object')

In [15]:
df = pd.read_excel("data/tickers_list.xlsx")
df

,Ticker,Name,Exchange,Category Name,Country
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA
...,...,...,...,...,...
106323,G5N.SG,"Groupon Inc. Reg. Shares DL-,00",STU,NaN,Germany
106324,N1H.AX,N1 Holdings Limited,ASX,Mortgage Investment,Australia
106325,1K2.BE,"K2M GROUP HLDGS DL-,001",BER,NaN,Germany
106326,2RM.BE,"RE/MAX HLDGS A DL -,0001",BER,NaN,Germany
106327,2RM.F,"RE/MAX Holdings, Inc.",FRA,NaN,France